<div class="container">
  <h1>Contact List</h1>
  <input 
    type="text" 
    [(ngModel)]="filterText" 
    class="form-control" 
    placeholder="Filter contacts...">

  <ngx-datatable
    class="bootstrap"
    [rows]="filteredContacts"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10">

    <ngx-datatable-column name="Name">
      <ng-template ngx-datatable-cell-template let-row="row">
        <a [routerLink]="['/contacts', row.id]">{{ row.name }}</a>
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Phone">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div *ngFor="let phone of row.phones">{{ phone.phone }}</div>
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Email">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div *ngFor="let email of row.emails">{{ email.email }}</div>
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Address">
      <ng-template ngx-datatable-cell-template let-row="row">
        <div *ngFor="let address of row.addresses">{{ address.address }}</div>
      </ng-template>
    </ngx-datatable-column>
    
  </ngx-datatable>
</div>
